@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    font-family: 'Cairo', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

/* ///////////////////////////// NAVIGATION BAR /////////////////////////// */

.sideNav {
    width: 20%;
    background: slategrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBot {
    display: flex;
    justify-content: center;
}

.navBtn {
    border: none;
    background: none;
}

.navBtnImg {
    width: 4vw;
}

.socialBtn {
    width: 3vw;
}

/* ======================================================================== */

/* ////////////////////////////////// BODY //////////////////////////////// */

.mainBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* ======================================================================== */
